<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">A site</a>
    </nav>
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-4">CRUD example (Flask, SQLalchemy, Sqlite3) <span>{{ tasks_total }}</span></h1>
                <h1 class="display-4">{{ time }}</span></h1>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="make-todo">
            <form action="/add" method="POST">
                <input type="text" name="todo_item">
                <input type="submit" value="Submit new item">
            </form>
        </div>
        <div class="todo">
            <h1>Pending</h1>
            <form action="/update" method="POST">
                <ul>
                    {% for todo in todos %}
                    <li><input type="checkbox" name="{{ todo.id }}"> {{ todo.text }}</li>
                    {% endfor %}
                </ul>
                <input type="submit" value="Submit changes">
            </form>
        </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
